<body class="window-loading">
  <div class="index" id="index">
    <div class="background-video-wrap">
      <video src="" class="background-video" loop muted playsinline></video>
      <div class="video-cover"></div>
    </div>
    <div class="index__content">
      <footer class="index__footer">
        <div class="footer__city-social-wrap">
            <div class="footer__social-links">
              <a href="https://discord.gg/GdzjVvD" class="social-link" target="_blank">Discord</a>,
              <a href="https://www.twitter.com/Miezhiko" class="social-link" target="_blank">Twitter</a>,
              <a href="https://www.twitch.tv/Miezhiko" class="social-link" target="_blank">Twitch</a>,
              <a href="https://github.com/Miezhiko" class="social-link" target="_blank">GitHub</a>,
            </div>
        </div>
      </footer>
      <main class="index__main">
        <div class="main-content">

          <div>
          $partial("templates/post-list.html")$
          </div>

        </div>
      </main>
    </div>
  </div>
  <script src="js/fairyDustCursor.js"></script>
  <script>
    new fairyDustCursor({colors: ["#ff0000", "#ffaa00", "#00aaff", "#0000ff"]});
  </script>
  <script src="js/main.js"></script>
</body>
